---
interface Props {
	  id: number;
      name: string;
      image: string;
}

const { id,name,image } = Astro.props;
---

<div class=" grid gap-8 sm:grid-cols-2">

	<div class="bg-white rounded-lg shadow-lg overflow-hidden">
		<div class="p-6">
			<img src={image} alt="image" class="h-32 w-32 flex-shrink-0 mx-auto bg-black rounded-full" />
			<h2 class="text-2xl font-bold text-gray-900">{name}</h2>
		</div>
			<a href={`/detail/${id}`} class="px-3 py-1 text-sm font-semibold text-gray-700 border border-gray-300 rounded-full">Ver más</a>
		</div>
	</div>
</div>