---
import Layout from '../layouts/Layout.astro';
import Titulo from '../components/titulo.astro';
import Card   from '../components/card.astro';
---

<Layout title="bienvenido ####">
	<Titulo/>
	<Card title={"vacante"} description={"programador"}>
	<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo reprehenderit, distinctio quibusdam sequi ratione eos perferendis temporibus consequatur? Provident.</p>
	</Card>
</Layout>

