---
const Container= "div"

export interface CardProps {
  id?: string;
  title: string;
  body: string;
}

const { id, title,body } = Astro.props
---
<Container class="card" id={id}>

 <h2>{id}{title} :</h2>
 <div> <p>{body}</p></div>

</Container>

