---
import Layout from '../layouts/Layout.astro';

---

<Layout title="sobre nosotros">
<div  class="bg-slate-400" >
    <h2 class="text-center">nosotros</h2>
    <p class="text-center">Lorem ipsum dolor sit </p>
</div>
</Layout>