---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AstroApiFetch from '../components/AstroApiFetch.astro';
---

<Layout title="Bienvenido">

  <div class="text-center text-6xl text-green-500">
    <h2> pagina de inicio</h2>
  </div>
	
  <AstroApiFetch
  
</Layout>

